<!DOCTYPE html>
{% autoescape true %}
<html>

  <head>
    <title>Miniramp v0.1</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    
    <script>
    // TODO: redo input using semantic forms
      $(document).on('ready', function() {
        $('#loading').hide();
        $('#errorMsg').hide();
        $('#noFollowings').hide();

        $('#submitButton').click(function() {
          $('#appendLog').empty()
          $('#loading').show()
          $('#errorMsg').hide();
          $('#noFollowings').hide();

          // Display current artist to user while loading recommendations
          var artist = $('#artistName').val();
          var textArtist= $('<div></div>').text(artist);
          var artistMarkup = '-------------------------------------------------'+
                             '<p>' + 'If you\'re a fan of ' +
                             '<strong>' + textArtist.html() + ',</strong>' +
                             '<br> you might also dig: <p>'
          $('#appendLog').append(artistMarkup)

          // Get recommendations from server and append them w/ links to DOM
          var url = '/recommender/' + textArtist.text();
          $.get(url, function(data){
            if (data) {
              for (var i = 0; i < data.length; i++) {
                var artistUrl = data[i]['url'];
                var recommendationMarkup = '<a class="artistlink" href="' + 
                                           artistUrl + '">' + 
                                           data[i]['username'] + '</a><br>';
                $('#appendLog').append(recommendationMarkup);
              }
              $('#loading').hide();
            } else {
              // Artist doesn't follow any others, so recommendation can't work
              $('#loading').hide();
              $('#noFollowings').show();
            }
          }).fail(function() {  // Ajax request error handling
              $('#loading').hide();
              $('#errorMsg').show();
          });
        });
      });
    </script>

    <div id="intro">
      Hi!  Welcome to Miniramp (version something-very-early).
      <p>To use this, enter the <a href="http://soundcloud.com">SoundCloud</a> username of an artist you like below,
      <br>then wait about a minute for a list of recommended, similar artists.
    </div>

    <div id="input">
      Artist username: <input type="text" id="artistName">
      <button id="submitButton">Submit</button>
    </div>

    <div id="appendLog">
    </div>
    
    <div id="loading" style="color:#FF7E00">
      <p>
      <em> --- loading --- </em>
    </div>

    <div id="noFollowings" style="color:#FF7E00">
      <p> This artist doesn't follow any other artists. Please try another!
    </div>

    <div id="errorMsg" style="color:red">
      <p>
      <em> --- error --- </em>
    </div>

    <div id="footer">
      <p>-------------------------------------------------
      <br>Made by oldhill using the SoundCloud <a href="http://developers.soundcloud.com/">API</a>. 
      All code is at <a href="http://github.com/oldhill/miniramp">GitHub</a>.
    </div>


  </body>
  
</html>
{% endautoescape %}